//
@import "./base/base";
@import "./base/reset";

// Import variables
@import "./partials/variables";
@import "./partials/mixins";

/* TYPOGRAPHY ===================== */
@import "./partials/typography";

/* HEADER FOOTER ===================== */
@import "./partials/header-footer";

/* NAVIGATION ===================== */
@import "./partials/navigation";

/* MEDIA ===================== */
@import "./partials/media";

/* LAYOUT ===================== */
@import "./partials/layout";

/* ACCESSIBILITY ===================== */
@import "./partials/accessibility";

// new components to refact
@import "../components/components";

.footer-info_smallTxt {
    line-height: 1.5;
}
.mob_only {
    display: block;
    @include medium {
        display: none;
    }
}

.pc_only {
    display: none;
    @include medium {
        display: block;
    }
}

.is-vertically-aligned-top {
    h4 {
        line-height: 1.2;
    }
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}
