header {
    padding: 1rem 2%;
    @include large {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
        @include large {
            font-size: 1.5rem;
        }
    }

    .site-navigation {
        display: none;
        position: fixed;
        width: 50%;
        top: 0;
        right: 0;
        background-color: rgba($color: white, $alpha: 0.9);
        height: 100vh;
        z-index: 100;

        .close {
            position: absolute;
            top: 2.5%;
            right: 5%;
            display: block;
            width: 40px;
            cursor: pointer;
            @include large {
                display: none;
            }
        }

        nav {
            position: absolute;
            top: 20%;
            right: 50%;
            transform: translate(50%, 0);
            font-size: 1.2rem;
            font-weight: 600;
            @include large {
                position: initial;
                top: initial;
                right: initial;
                transform: initial;
                font-size: initial;
            }

            li {
                padding-bottom: 2rem;
                text-align: center;

                &:last-of-type {
                    padding: initial;
                }

                @include large {
                    padding-bottom: 0;
                }
            }
        }

        @include large {
            position: initial;
            width: initial;
            top: initial;
            right: initial;
            background-color: initial;
            height: initial;
            z-index: initial;
            //
            display: block;
            letter-spacing: 0.15rem;
            padding-right: 4%;
            nav ul {
                display: flex;

                li {
                    width: 150px;
                    a {
                        padding: 0.5rem 2rem;
                        &:hover {
                            border: $border-standard;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }
    }
    .side-social-menu {
        display: none;
        @include large {
            display: block;
            position: fixed;
            right: 2%;
            top: 40vh;
            z-index: 999;
        }
        nav ul li {
            padding: 1rem 0;
            a {
                transition: all 0.5s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

footer {
    nav.menu-social {
        ul {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
    }
}

.open {
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    display: block;
    width: 40px;
    cursor: pointer;
    @include large {
        display: none;
    }
}
